# Режим работы приложений
DEBUG=1

# Домен приложения
DOMAIN=example.com

# ---- MinIO -----
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_DEFAULT_BUCKET_NAME=bucket

# Публичная ссылка на MinIO
PUBLIC_S3_ENDPOINT_URL=http://localhost:9000

# ---- PostgreSQL ----
POSTGRES_PORT=5432
POSTGRES_DB=CatsDb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# ---- Redis ----
# Только для продакшн
#REDIS_PASSWORD=password